In [2]:
x = { 'name':['A','b','c'],
     'age' :(23,24,25,28),
     'marks':(34.9,48,85)
    }
print(x)

{'name': ['A', 'b', 'c'], 'age': (23, 24, 25, 28), 'marks': (34.9, 48, 85)}

In [3]:
type(x)

dict

In [5]:
x= { 8.45,78,'python','SQL','Junaid'}
print(x)

{'Junaid', 8.45, 'python', 78, 'SQL'}

In [6]:
type(x)

set

In [15]:
................................................................................................................................................................................................................................................................................................def add():
    a = 12
    b = 13
    add = int(a) + int(b)
    print(add)
0a.-*9685201
3.
+63201\]012548796+*-9/854210+-*9/+8dd()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [16]:
#no argument with return


def func():
    
    a = 5
    b = 7
    x = a +b
    return(x)
func()

12

In [ ]:
def salary(salary,leaves):
    if leaves>12:
        ded = (salary*7.5)/100
        total_sal