In [2]:
# wap to print first 1 to 10 natural nu,ner in reverse order

i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [8]:
#wap to find sum of first n natural number

sum =0
i=1
while(i<=10):
    sum = sum+i
    i=i+1
print(sum)

55

In [20]:
#wap to print sum of square of first n natural number

i=1
sum = 0
while(i<=3):
    sum = sum+i*i
    i=i+1
    print(sum)

1
5
14

In [33]:
#wap to print to find sum of cube of a digit of a given number
 
n = int(input("Enter the number\n")) 
sum = 0
while(n>0):
    sum = sum + (n%10)*(n%10)*(n%10)
    n = n//10
    
print(sum)

Enter the number
121
10

In [32]:
n = int(input("Enter the number\n")) 
sum = 0
while(n>0):
    sum = sum + (n%10)*(n%10)*(n%10)
    n = n//10
print(sum)

Enter the number
121
10

In [38]:
#wap to check the three digit number is palindrome or not
n = int(input("Enter the number"))
orig = n
sum = 0
while(n>0):
    sum = sum + (n%10)*(n%10)*(n%10)
    n = n//2
    
if orig==sum:
    print("number is armstrong")
else:
    print("not armstrong")

Enter the number153
not armstrong

In [15]:
#wap to product of the digit of the number

n = int(input("Enter the number"))
prod = 1
while(n>0):
    prod= prod* (n%10)
    n =n//10
print(prod)

Enter the number123456789
362880

In [17]:
# wap to print reverese of number

n = int(input("Enter the number"))
rev = 0
while (n>0):
    rev = (rev*10) +(n%10)
    n = n//10
print(rev)

Enter the number1234
4321

In [45]:
# wap to check number is palindrome or not

n = int(input("Enter the number"))
orig = n
rev = 0
while(n>0):
    rev = (rev*10)+ n%10
    n = n//10
if (orig==rev):
        print("number is palindrome number")
else:
        print("not palindrome number")

Enter the number525
number is palindrome number

In [44]:
n = int(input("Enter the number"))
if n%2==0:
    print("even")
else:
    print("odd")

Enter the number17
odd

In [70]:
# wap to check number is prime or not

num = int(input("Enter the number"))
count = 0
i = 1
while (i<=num):
    if num%i==0:
        count = count+1
    i = i+1
if count==2:
    print("number is prime")
else:
    print("not prime")

Enter the number21
not prime

In [77]:
num = int(input("enter the num"))
if num>2:
    for i in range(2,num):
        if num%i==0:
            print("not prime")
            break;
            
    else:
        print("prime")

enter the num8
not prime

In [5]:
for i in range(10,50):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print("prime no------>",j)

prime no------> 10
prime no------> 12
prime no------> 16
prime no------> 18
prime no------> 22
prime no------> 28
prime no------> 30
prime no------> 36
prime no------> 40
prime no------> 42
prime no------> 46

In [9]:
#wap to print  fibonacci series of a given number

n = int(input("enter the number"))
x=0
y = 1
z = 0
fact = 1
while(z<=n):
    print(z)
    x = y
    y = z 
    z = x+y

enter the number2
0
1
1
2

In [14]:
#wap to print factorial of a given number

num = int(input("Enter the number"))
fact = 1
while(num>0):
    fact = fact*num
    num = num-1
print(fact)

Enter the number7
5040

In [44]:
#wap to print star pattern
i = 1
while(i<=5):
    j = 1
    while(j<=i):
        print("*",end=' ')
        j = j+1
    print()
    i = i+1

*
* *
* * *
* * * *
* * * * *

In [23]:
i = 1
while(i<=5):
    j = 1
    while(j<=i):
        print(i,end=' ')
        j = j+1
    print()
    i = i+1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
i = 1
while(i<=5):
    j = 1
    while(j<=i):
        print(j ,end=' ')
        j = j+1
    print()
    i = i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [49]:
i = 1
while(i<=5):
    b = 1
    while(b<=5-i):
        print(' ',end=' ')
        b = b+1
    j = 1    
    while(j<=i):
        print('*' ,end=' ')
        j = j+1
    print()
    i = i+1

        *
      * *
    * * *
  * * * *
* * * * *

In [55]:
for i in range(1,6):
    for b in range(1,i-1):
        b = i+
        print(" ",end=' ')
    for j in range(1,i+1):
        print("*",end= ' ')
    print()

*
* *
  * * *
    * * * *
      * * * * *

In [72]:
i = 1
while (i<=5):
    b=1
    while(b<=5-i):
        print(' ',end=' ')
        b = b+1
    j=1
    while(j<=i):
        print('*',end=' ')
        j=j+1
    print()
    i=i+1

        *
      * *
    * * *
  * * * *
* * * * *