In [1]:
# Wap to add two numbers using function

In [4]:
# No Return No Arguments

def add():
    a = 45
    b = 78
    add = a + b
    print(add)
add()

123

In [5]:
# No Return with Arguments

def add(x,y):
    z = x + y
    print(z)
add(5,6)

11

In [6]:
# With Argument With Return

def add(x,y):
    z = x + y
    return z
add(45,66)

111

In [7]:
# Without argument with return

def add():
    a = 12 
    b = 32
    c = a + b
    return c
add()

44

In [11]:
# wap to determine the salary of the employee. Where if the employee
# more than take 12 leaves in a year, then the salary will be deducted
# 7.5% , if the emp takes leave less than 5 leaves then there will be
# bonus of 12.3%, in a year. Calculate the yearly income ?


salary = int(input("Enter the Salary"))
leaves = int(input("Enter the leaves"))
def func(leaves, salary):
    if leaves>12:
        ded = (salary*7.5)/100
        total_sal = salary - ded
        return(total_sal)
    elif leaves<5:
        bonus = (salary*12.3)/100
        total_sal = bonus + sal
        return (total_sal)
func(leaves,salary)

Enter the Salary45000
Enter the leaves15

41625.0