In [1]:
x = (12,56,32,45,78,32,77,96.7,"hello","true")
print(x)
type(x)

(12, 56, 45, 78, 32, 77, 96.7, 'hello', 'true')

tuple

In [2]:
x.append(12)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
print(x)

(12, 56, 45, 78, 32, 77, 96.7, 'hello', 'true')

In [6]:
x.count(32)

1

In [7]:
x.count(32)

1

In [8]:
x = (12,56,32,45,78,32,77,96.7,"hello","true")
x.count(32)

2

In [10]:
x = (12,56,32,45,78,[6,5,4,3,2,1],32,77,96.7,"hello","true")
x[5][2]

4

In [11]:
x[5][2]=69
x

(12, 56, 32, 45, 78, [6, 5, 69, 3, 2, 1], 32, 77, 96.7, 'hello', 'true')

In [12]:
x=(1,)
type(x)

tuple

In [13]:
x=()
x

()

In [14]:
type(x)

tuple

In [18]:
x = (12,11,14,16,78,98,65)
x[2]

14

In [20]:
x.insert(2,56)
print(x)

AttributeError: 'tuple' object has no attribute 'insert'

In [27]:
x = [12,12,12,11,14,16,78,98,65]
x.index(12)

0

In [30]:
x.remove(78)

In [31]:
x

[12, 12, 11, 14, 16, 98, 65]

In [49]:
# Ques.Python program to find tuples which have 
#all elements divisible by K from a list of tuples.

a = [(12,11,14,65,21,36)]
k = 2
for i in a:
    for j in i:
   
        if j % k ==0:
            print("divisible by k",j)

divisible by k 12
divisible by k 14
divisible by k 36

In [40]:
a = [12,11,14,65,21,36]
y = tuple(x)

In [38]:
print(y)

[12, 12, 11, 14, 16, 98, 65]

In [41]:
type(a)#6.Write a Python program to convert a list to a tuple.

list

In [50]:
#6.Write a Python program to convert a list to a tuple.

x = [12,11,14,16,85]
z = tuple(x)
print(z)

(12, 11, 14, 16, 85)

In [56]:
#7.Write a Python program to convert a tuple to list.

x = (12,25,65,45,78,65)
y = list(x)
y.remove(25)
z= tuple(y)
print(z)

(12, 65, 45, 78, 65)

In [52]:
print(y)

[12, 25, 65, 45, 78, 65]

In [53]:
y.remove(65)

In [55]:
z = tuple(y)
print(z)

(12, 25, 45, 78, 65)

In [57]:
# Ques. 4.Write a Python program to add an item in a tuple.

x = (12,32,56,78,76)
y = list(x)
y.append(12)
z = tuple(y)
print(z)

(12, 32, 56, 78, 76, 12)

In [ ]:
# Ques.Write a Python program to find the index of an  item of a tuple

In [58]:
# SOLUTION
x = (12,32,56,78,76)
x.index(32)

1

In [64]:
#.Ques.Write a Python program calculate the product, 
#multiplying all the numbers of a given tuple. 
#Original Tuple:
x = (4, 3, 2, 2, -1, 18)
y = 1 
for i in x:
    y = y * i
    print(y)

4
12
24
48
-48
-864

In [70]:
# Ques. Write a Python program to reverse a tuple.

x = (4, 3, 2, 2, -1, 18)
y = list(x)
y.reverse()
z=tuple(y)
print(z)

(18, -1, 2, 2, 3, 4)